.NewJugadora-row {
    color: #000;
}
.NewJugadora-row div {
    display: inline-block;
    width: 60px;
}
.NewJugadora-row div:nth-of-type(2n) {
    width: 100px;
}
.NewJugadora-row div input {
    width: 100%;
}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {
 
}