.Tabla-wrapper {
    align-items: center;
    background: #f6f6f6;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}
.Tabla-col {
    border-left: 1px solid #b4b4b4;
}
.Tabla-col:nth-of-type(n+3) {
    padding: 0;
}
.Tabla-Header {
    background: #f6f6f6;
    border-bottom: 2px solid #b4b4b4;
    color: #b8b8b8;
    height: 40px;
    line-height: 39px;
    margin: 0 -15px 0 0;
}
.Tabla-Header .Tabla-col:nth-of-type(n+3) {
    padding-right: 0;
}
.Tabla-Header > div:first-child {
    border-left: none;
    border-right: none;
}
.Tabla-Header > div:nth-child(2) {
    border-left: none;
}
.Tabla-col:last-of-type {
    border-right: none;
}
.Tabla-Row * {
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: bold;
}
.Tabla-Row {
    background-color: #dfdede;
    border-bottom: 2px solid #b4b4b4;
    color: #717171;
    font-weight: 100;
    height: 60px;
    margin: 0 -15px 0 0;
    line-height: 58px;
}
.Tabla-Row .Tabla-col:nth-of-type(n+3) {
    text-align: right;
    padding-right: 5px;
}
.Tabla-Row.even {
    background-color: #f6f6f6;
}
.Tabla-Row > div:nth-child(2) {
    border-left: none;
}
.Tabla-pos-value {
    border-left: none;
    border-right: none;
    font-weight: bold;
}
.Tabla-goles {
    display: none;
}
.Tabla-equipo {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}
.Tabla-escudo-wrapper {
    background: #ececec;
    border-radius: 50%; 
    display: block;
    height: 35px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 35px;
}
.Tabla-escudo-wrapper img {
    display: inline-block;
    height: 25px;
    margin-top: -25px;
    width: 25px;
}
.Tabla-equipo-nombre {
    display: inline-block;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .Frase {
        font-size: 2vh;
    }
}
@media (min-width: 1024px) {
    .Tabla-wrapper {
        font-size: 25px;
        padding-top: 25px;
    }
    .Tabla-Row {
        height: 100px;
    }
    .Tabla-col {
        height: 100%;
    }
    .Tabla-Header .Tabla-col:nth-of-type(2) {
        text-align: left;
    }
    .Tabla-goles {
        display: block;
    }
    .Tabla-equipo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
    }
    .Tabla-escudo-wrapper {
        height: 85px;
        margin-left: 25px;
        margin-top: 6px;
        width: 85px;
    }
    .Tabla-escudo-wrapper img {
        display: inline-block;
        height: 65px;
        margin-top: 14px;
        width: 65px;
    }
    .Tabla-equipo-nombre {
        display: inline-block;
        font-size: 25px;
        font-weight: 200;
        line-height: 25px;
        margin-top: 37px;
    }
    .Tabla-Header .Tabla-col:nth-of-type(n+3),
    .Tabla-Row .Tabla-col:nth-of-type(n+3) {
        text-align: center;
        padding-right: 5px;
        width: 5%;
    }
    .Tabla-Row .Tabla-col:first-of-type,
    .Tabla-Row .Tabla-col:nth-of-type(n+3) {
        padding-top: 20px;
    }
    .Tabla-col:nth-of-type(1) {
        margin-left: 5%;
    }
    .Tabla-col:nth-of-type(2) {
        margin-right: 10%;
    }
}