.Galeria-section {
    background: #fff;
    /* justify-content: space-between; */
    align-items: center;
    /* height: 1000px; */
    height: calc(15vw + 15px + 150px); /*header height + header margin + gallery */
    padding: 0;
}
.Galeria-header {
  align-items: flex-end;
  display: flex;
  height: 15vw;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 4vw 2vw 4vw;
  text-align: left;
  width: 100%;
}
.Galeria-titulo {
  color: #16181d;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-left: 15px;
}
.Galeria-subtitulo {
  color: #f41497;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 10px;
}
.Galeria-row {
    height: 150px;
    margin: 0;
    width: 100%;
}
.Galeria-col {
    height: 100%;
}
.Galeria-img-wrapper {
  height: 100%;
}
.Galeria-img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Galeria-section .slick-slider .slick-track {
  width: 10vw;
}
.Galeria-section .slick-slider {
  height: 100%;
}
.Galeria-section .slick-slider .slick-arrow {
  filter: brightness(14);
  top: 50%;
  z-index: 10;
}
.Galeria-section .slick-slider .slick-arrow.slick-prev {
  left: 30px;
}
.Galeria-section .slick-slider .slick-arrow.slick-next {
  right: 30px;
}

.Galeria-section .slick-slide {
  width: 33%;
}
.Galeria-section .slick-slide > div {
  /* height: 95%; */
  overflow: hidden;
}

.Galeria-btn {
  align-items: center;
	background-image: linear-gradient( #f41497 0%, #6e034d 100%);
	border-radius: 4px;
  box-sizing: border-box;
	color: #fff;
	display: flex;
  justify-content: center;
	letter-spacing: 1px;
	padding: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: center;
	z-index: 2;
}
.Galeria-btn:hover {
	color: #fff;
  text-decoration: none;
}
.Galeria-ver-fotos-btn {
  font-size: 10px;
  height: 20px;
  margin-left: auto;
  width: 80px;
}


@media (min-width:768px) {
  .Galeria-section {
    height: calc(15vw + 300px);
  }
  .Galeria-titulo {
    font-size: 3vw;
  }
  .Galeria-subtitulo {
    font-size: 1vw;
    margin-bottom: 17px;
  }
  .Galeria-ver-fotos-btn {
    height: 35px;
    margin-left: auto;
    margin-bottom: 19px;
    width: 120px;
  }
  .Galeria-row {
    height: 300px;
  }
}