.StaffMembers-wrapper {
    background-color: #fff;
    height: 100%;
}
.StaffMembers-header {
    color: #a4a4a4;
    display: flex;
    height: 15%;
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: 3vh;
}
.slick-slider {
    height: 75%;
}
.slick-list,
.slick-track, 
.slick-slide, 
.slick-slide > div {
    height: 100%;
}
.slick-slider .slick-arrow {
    height: 51px;
    top: 40%;
}
.slick-slider .slick-arrow::before {
    content: url('../../assets/images/arrow.png');
    background-blend-mode: multiply;
}
.slick-slider .slick-arrow.slick-prev {
    left: 0;
    transform: rotate(180deg) translateY(50%);
    z-index: 100;;
}
.slick-slider .slick-arrow.slick-next {
    right: 0;
}
.StaffMember-wrapper {
    display: inline-block;
    height: 100%;
    padding-top: 5%
}
.slick-slide .StaffMember-image {
    border-radius: 50%;
    display: inline-block;
    height: 30%;
}
.slick-slide .StaffMember-image.missing-foto {
    border-radius: 0;
}
.StaffMember-name {
    color: #f41497;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3vh;
    text-transform: uppercase;
}
.StaffMember-job {
    color: #000;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.StaffMember-bio {
    color: #a4a4a4;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
    margin-top: 4vh;
    width: 80%;
}
.StaffMember-btn {
	background-image: linear-gradient( #f41497 0%, #6e034d 100%);
	border-radius: 10px;
    box-sizing: border-box;
	color: #f41497;
	display: block;
	height: 60px;
	letter-spacing: 1px;
	margin: 0 auto;
    margin-top: 3vh;
	padding: 3px;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
	width: 190px;
	z-index: 2;
}

.StaffMember-btn:hover {
	color: #fff;
    text-decoration: none;
}

.StaffMember-btn span {
	align-items: center;
	background: #fff;
	border-radius: 8px;
    display: flex;
    font-size: 2.5vh;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.StaffMember-btn:hover span {
	background: transparent;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .Staff-static-image {
    display: inline-block;
  }
}