.Staff-section {
  height: calc(100vh - 72px);
}
.Staff-row {
  height: 100%;
}
.Staff-col {
  height: 100%;
  padding: 0;
}
.Staff-static-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .Staff-static-image {
    display: inline-block;
  }
}