html, body {
  width: 100%;
}

.App * {
  font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-3d-carousel .slider-container .slider-content .slider-single.preactive .slider-single-content {
  opacity: .3;
  transform: translateX(-45%) scale(0.5);
}
.react-3d-carousel .slider-container .slider-content .slider-single.proactive .slider-single-content {
  opacity: .3;
  transform: translateX(45%) scale(0.5);
}
.react-3d-carousel .slider-container .slider-left,
.react-3d-carousel .slider-container .slider-right {
  position: absolute;
  display: none;
  z-index: 3;
  padding: 20px 15px;
  height: 125%;
  cursor: pointer;
  margin: 0;
}
.react-3d-carousel .slider-container .slider-left > div,
.react-3d-carousel .slider-container .slider-right > div {
  border: none;
}
.react-3d-carousel .slider-container .slider-left {
  left: -33%;
}
.react-3d-carousel .slider-container .slider-right {
  left: 105%;
  right: -25%;
}
.react-3d-carousel .slider-container .slider-right .fa.fa-arrow-right:before,
.react-3d-carousel .slider-container .slider-left .fa.fa-arrow-left:before {
  background: transparent;
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 24px;
  height: 24px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-color: #3c3c3c;
}
.react-3d-carousel .slider-container .slider-left .fa.fa-arrow-left:before {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.react-3d-carousel .slider-container .slider-right .fa.fa-arrow-right:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .react-3d-carousel .slider-container .slider-left {
    left: -25%;
  }
  .react-3d-carousel .slider-container .slider-right {
    left: 114%;
  }
}
@media (min-width: 1024px) {
}
