.Wing-wrapper {
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-bottom: -75px;
    margin-left: -52px;
    padding: 0;
    width: 284px;
    z-index: 0;
}
.Wing {
    align-self: center;
    /* background-image: url('../../assets/images/ala_oro.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    height: 97px;
    margin-bottom: -35px;
    padding: 0;
    width: 284px;
    z-index: 10;
}
.Wing.Oro {
    background-image: url('../../assets/images/ala_oro.png');
}
.Wing.Plata {
    background-image: url('../../assets/images/ala_plata.png');
    margin-top: 22px;
}
.Wing.Bronce {
    background-image: url('../../assets/images/ala_bronce.png');
    margin-top: 24px;
}
.Wing-name-container {
    align-items: center;
    /* background-image: url('../../assets/images/nombre_oro.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% auto;
    color: #747474;
    display: flex;
    justify-content: center;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    width: 100%;
    z-index: 15;
}
.Wing-name {
    z-index: 20;
}
.Oro .Wing-name {
    margin-top: 29px;
}
.Bronce .Wing-name {
    margin-top: -3px;
}
.Wing-base {
    background-image: url('../../assets/images/base_card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% auto;
    height: 50px;
    justify-self: flex-end;
    z-index: 0;
}

@media (min-width: 768px) {
    .Wing-wrapper {
        height: 250px;
        margin-bottom: -150px;
        margin-left: -75px;
        width: 550px;
    }
    .Wing {
        height: 170px;
        width: 550px;
    }
    .Wing-name {
        font-size: 25px;
    }
    .Wing-base {
        height: 80px;
    }
}
@media (min-width: 1024px) {
    
}