.ParrafoImagen-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.ParrafoImagen-imagen {
    height: 200px;
    border-radius: 15px;
    width: 80%;
}

.ParrafoImagen-parrafo {
    color: #8a8a8a;
    font-weight: 500;
    font-family: sans-serif;
    list-style: none;
    margin-bottom: 35px;
    width: 80%;
}

.App .ZigzagGrid .ParrafoImagen-parrafo .ParrafoImagen-parrafo-titulo {
    font-family: sans-serif;
    font-size: 30px;
}
.App .ZigzagGrid .ParrafoImagen-parrafo .ParrafoImagen-parrafo-texto li,
.App .ZigzagGrid .ParrafoImagen-parrafo .ParrafoImagen-parrafo-texto span {
    font-family: sans-serif;
    font-size: 22px;
}

@media (min-width: 768px) {
    .ParrafoImagen-wrapper {
        flex-direction: row;
        padding: 20px 150px;
        width: 90%;
    }
    .ParrafoImagen-wrapper.even {
        flex-direction: row-reverse;
    }
    .ParrafoImagen-imagen {
        margin-right: 35px;
        width: 30%;
    }
    .even .ParrafoImagen-imagen {
        margin-left: 35px;
        margin-right: 0;
    }
    .ParrafoImagen-parrafo {
        width: 70%;
    }
    .ParrafoImagen-parrafo {
        font-weight: 100;
        text-align: left
    }
    .even .ParrafoImagen-parrafo {
        text-align: right;
    }
}
    
@media (min-width: 1024px) {
    .ParrafoImagen-wrapper {
    }
    .Cards-row {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}